
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.navbar{
    width: 100%;
    height: max-content;
    background-color: #212121;
    background: linear-gradient(to left,rgba(29, 13, 0, 1),rgb(39, 18, 0),rgb(29, 13, 0));
    
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-container{
    display: flex;
    flex-direction: row;
  
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    
    
}
.logo img{
    width:120px;
}

.navbar-item ul{
    text-decoration: none; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* background-color: rgb(134, 86, 23); */
    
}
    
.navbar-item a{
    text-decoration: none;
    color: #fff8ef;
    cursor: pointer;
    
    
}
.navbar-item li {
    list-style: none;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300 ;
    width: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
}


.navbar-item li.active {
    background-color: #fdf0df;
    border: none;
}
.navbar-item li.active a {
    
    color: #5d4037;
    font-weight: 600;
    
}
.navbar-item li:not(.active):hover {
    border: 1px solid #fdf0df;
    
}
.navbar-item li:hover{
    cursor: pointer;
}
.nav-buttons{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #fdf0df;
    border: none;
    height: 40px;
    width: 110px;
    margin-left: 50px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    color: #5d4037;
}

button:hover{
    background-color:#ffca28 ;
}
button:active{
    background-color: #ffbf00ff;
}
.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cart:active{
    background-color: #ffbf00ff;
}
.cart-img{
    width: 20px;
    height: 20px; 
    margin-right: 10px;
}

.nav-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.cart-count{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color:#fdf0df;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}